body {
    background: #fefefe;
    color: #333
}

.mainHeader {
    color: tomato;
}

.sectionHeader, .diaryHeader {
    color: #1460aa;
}

.html {
    color: #5c2020);
}
    
.paragraph {
    color: darkblue;
    padding: 0 0 0 16px;

}
.stopka {
    color: #999999;
}
.thirdHeader {
    color: #0496ff;
}
.link {
    color: #1A936f;
}
.about {
    width: 700px;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
}