body {
    background: salmon;
}

.mainHeader {
    color: tomato;
}

.sectionHeader {
    color: #1460aa;
    font-size: 64px;
}

.diaryHeader {
    color: #6c1285;
}

.html {
    color: #5c2020);
}
    
.paragraph {
    color: darkblue;
}
.stopka {
    color: #999999
    ;
}